#first{
        background-image: url("banner.jpg");
        background-color: brown;
         background-size: cover;
        background-repeat:no-repeat;
        padding: 25%; 
    
        border-radius: 10%;
    

    }
    
    #gorecipe {
        background-color: teal;
        color: white;
        box-shadow: 5px;
    }
    
    #gorecipe:hover{
        background-color: grey;
    }

    #reccard{
        text-align: center;
        border: groove teal;
        color:black;
        text-shadow:white 2px 2px;
    }

    #alcohol{
        text-align: center;
        border: groove teal;
        color:black;
        text-shadow:white 1px 1px;
    }
    
    #divide{
        background-image: url("culnary.png");
    }
      
    body{
        background-color: gainsboro;
    }
    
    .home{
        background-color:gainsboro;
    } 
   