body{
    background:url(https://static1.squarespace.com/static/598288a52994ca751a237d5d/t/599f7fd79f7456b8abb06b77/1503625408599/Menu+Background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#first{
    background-image: url(https://github.com/ncortes12/foodMacgyver/blob/master/assets/Banner.jpg?raw=true);
    background-size: cover;
    background-repeat:no-repeat;
    padding: 25%; 
    border-radius: 10%;
}

#submituser{
    margin-top: 18px;
}

.favorite{
    font-family:'Permanent Marker', cursive;
    background-color:darkblue;
    color:palevioletred;
    border-radius: 5px;
    box-shadow: 5px;
}

#gorecipe {
    font-family:'Permanent Marker', cursive;
    background-color:darkblue;
    color:palevioletred;
    border-radius: 5px;
    box-shadow: 5px;
} 

#gorecipe:hover{
    background-color: grey;
}

#ingredientz{
    font-family: 'Permanent Marker', cursive;
}

#allergy{
    font-family: 'Permanent Marker', cursive;
}

#time{
    font-family: 'Permanent Marker', cursive;
}

#optional{
    font-family: 'Permanent Marker', cursive;
}

#optional2{
    font-family: 'Permanent Marker', cursive;
}

#usernamelabel{
    font-family: 'Permanent Marker', cursive;
}

.card{
    font-family: 'Lobster Two',cursive;
    border-radius:10px;
    border:solid lightgray 1px;
}

#search{
    border-radius:6px;
    font-family: 'Permanent Marker', cursive;
    color:palevioletred;
}



.reccard{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    border: solid palevioletred 1px;
    border-radius:10px;
    color:black;
    text-shadow:rgba(255, 255, 255, 0.397) 1px 1px;
    padding: 0px, 0px, 20px,0px;
}

#alcohol{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    border: solid palevioletred 1px;
    border-radius:10px;
    color:black;
    
}

#divide{
    background-image: url("culnary.png");
}
  
body{
    background-color: gainsboro;
}

.home{
    background-color:gainsboro;
} 
